# Install these requirements if you wish to contribute to this project.

# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
Django==1.5.1
South==0.7.6
django-filer==0.9.4
Pillow==2.0


# ==============================================================
# Packages needed for running the tests. Needed by contributors.
# ==============================================================
factory-boy==1.3.0
django-libs==1.4.7
Fabric==1.6.0
mock==1.0.1
django-nose==1.1
coverage==3.6
django-coverage==1.2.2
ipdb==0.7
